/*
===================
内容区域导航
===================
*/
.content_nav{
	background: #f8f8f8;
	height:40px;
	display:block;
}
.content_nav ul {
	display: block;
	height: 40px;
	padding-left: 20px;
	font: 300 16px/40px 'OpenSans', 'Microsoft Yahei UI Light', 'Microsoft Yahei', Arial, Simsun, Sans-Serif;
}
.content_nav li{
	display: block;
	float: left;
	height: 40px;
	line-height: 40px;
}
.content_nav li a{
	float:left;
	display:block;
	padding:0 30px;
	border-bottom:0 none;
	text-decoration:none;
	color: #b3b3b3;
	-webkit-transition: all .2s;
	   -moz-transition: all .2s;
	    -ms-transition: all .2s;
	     -o-transition: all .2s;
	        transition: all .2s;
}
.content_nav li a:hover{
	background:#fff;
	color: #ffb452;
	text-decoration:none;
	-webkit-transition: all .15s;
	   -moz-transition: all .15s;
	    -ms-transition: all .15s;
	     -o-transition: all .15s;
	        transition: all .15s;
}
.content_nav li.current a,
.content_nav li.current a:hover{
	color:#3c3c3c;
	background:#fff;
}
.content_nav li em{
	margin-left:3px;
	vertical-align:middle;
}
/*消息设置*/
.content_nav .edit{
	float:right;
	margin:3px 20px 0 0;
}


/*
===================
内容区域筛选（用于内容区域导航下）
>>如 最新发贴、最后回复
===================
*/
.content_filter{
	margin: 5px 20px 0 0 ;
	float:right;
	overflow:hidden;
	background: #eee;
	padding: 2px;
	height: 26px;
	box-shadow: inset 0 0px 0px rgba(0,0,0,.05);
}
.content_filter a{
	color:#adadad;
	float: left;
	height: 26px;
	line-height: 26px;
	padding: 0 10px;
}

.content_filter a:hover{
	text-decoration:none;
}
.content_filter a.current{
	color:#3c3c3c;
	background:#fff;
	box-shadow: 0 0px 0px rgba(0,0,0,.2);
}
.content_filter span{
	display:none;
}
.content_filter:hover {
	background: #eaeaea;
	box-shadow: inset 0 1px 3px rgba(0,0,0,.05);
}
.content_filter:hover a:hover {
	color: #757575;
}
.content_filter:hover a.current{
	color:#3c3c3c;
	background:#fff;
	box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

.content_filter,
.content_filter a.current {
	-webkit-transition: all .2s;
	   -moz-transition: all .2s;
	    -ms-transition: all .2s;
	     -o-transition: all .2s;
	        transition: all .2s;
}
.content_filter:hover,
.content_filter:hover a.current {
	-webkit-transition: all .1s;
	   -moz-transition: all .1s;
	    -ms-transition: all .1s;
	     -o-transition: all .1s;
	        transition: all .1s;
}
img {
	border: 0;
}
.main_body .box_wrap,
.main_sidebar .box_wrap{
	border:0 none;
	box-shadow:0 0 0;
	border-radius:0;
}
.main_content{
	float: left;
	/*margin-right:280px;*/
	width:70%;
}
.main_content_right{
	float: left;
	margin-letf:10px;
	width:20%;
}
/*全局通用模块外框*/
.box_wrap{
	background:#fff;
	margin-bottom:20px;
}
/*全局模块标题*/
.box_wrap .box_title{
	padding-left: 15px;
	font: 400 16px/40px 'OpenSans','Microsoft Yahei';
	color: #000;
}
.box_wrap .box_title .num{
	margin-left:5px;
	background:#eeeeee;
	color:#999;
	padding:0 4px;
	border-radius:3px;
}
/*主体结构样式*/
.main{
	margin-bottom:10px;
}
.thread_posts_list .subject {width:662px;}
td,
th,
div {
	word-break:break-all;
	word-wrap:break-word;
}
html,body,
dl, dt, dd, ul, p, 
h1, h2, h3, h4, h5, h6,
pre, code, form,
fieldset, legend{
	margin: 0;
	padding: 0;
}
.cc{
	zoom:1;
}
.cc:after{
	content:'\20';
	display:block;
	height:0;
	clear:both;
	visibility: hidden;
}
.c{
	clear:both;
	height:0;
	font:0/0 Tahoma;
	overflow:hidden;
	width:0;
}


	.clpd1{padding-left:10px;padding-right:10px;} .clpd2{padding-top:10px;padding-bottom:10px;}
	.clmg1{margin-left:10px;margin-right:10px;} .clmg2{margin-top:10px;margin-bottom:10px;}